<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685074263425-8a2alrgkb0knos889mq47e7r4inme1gp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685074263425-8a2alrgkb0knos889mq47e7r4inme1gp</string>
	<key>API_KEY</key>
	<string>AIzaSyCVqNR8srlm8CNfZJBcwRxrYAamt39kXjI</string>
	<key>GCM_SENDER_ID</key>
	<string>685074263425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clockingapp</string>
	<key>PROJECT_ID</key>
	<string>clockingapp-31013</string>
	<key>STORAGE_BUCKET</key>
	<string>clockingapp-31013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685074263425:ios:75e2c9c885811b9119cc80</string>
</dict>
</plist>